<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Имитация регистрации</title>
</head>
<body>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username" maxlength="30" required>
        <label for="balance">Введите баланс:</label>
        <input type="balance" id="balance" name="balance" required>
        <label for="age">Введите свой возраст:</label>
        <input type="number" id="age" name="age" maxlength="3" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>